*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ================BARRA SUPERIOR================ */
.header-container{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 229, 228);
}
header{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 10px;
    background-color: #39A2A8;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 40px;
    font-size: 13px;
}

.header-item1{
    width: 50px;
    flex-grow:1;
}
.header-item2{
    width: 100px;
    flex-grow:2;
}
.header-item3{
    width: 50px;
    flex-grow:1;
}
.logoana{
    width: 80px !important
}

.header-item1 a{
    
    text-decoration: none;
    margin:10px;
    color: white;
}
.header-item2 a{
    
    text-decoration: none;
    margin:10px;
    color: white;
    
}
.header-item3 a{
    
    text-decoration: none;
    margin:10px;
    color: white; 
}
.h-item3-botao {
    border: none;
    border-radius: 80px;
    background-color: rgb(226, 225, 225, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 280px;
    height: 50px;
    
}

.h-item3-botao:hover{
    background-color: rgb(226, 225, 225);
}

/* ================PRIMEIRA SESSÃO================ */

.section1{
    background-color: rgb(230, 229, 228);
    height: 550px;
    
    position: relative;
}
.section1-waves{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}
.wave3{
    animation: movewave1 3s ease-in-out infinite alternate;
}
.wave3{
    animation: movewave1 3s ease-in-out infinite alternate;
}

@keyframes movewave1 {
    from{
        transform: translateX(1000px);   
    }
}
@keyframes movewave2 {
    from{
        transform: translateX(-1000px);
    }
}
@keyframes movewave3 {
    from{
        transform: translateX(2000px);  
    }

}
