* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}
html {
  font-family: sans-serif;
  font-size: 60%;
}
/* ============================================================================== */
/* ================================================================== HEADER ==== */
/* ============================================================================== */
header {
  width: 100%;
  height: 13vh;
  background-color: #e4dfda;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
}
.container-header {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 87%;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.conteudo-header a {
  color: black;
}
.item-1 {
  flex: 0.33;
  margin-left: 35px;
}
.item-2 a {
  margin: 15px;
  flex: 0.33;
  font-weight: bold;
}
.item-3 {
  flex: 0.33;
  background-color: rgb(71, 255, 126);
  border-radius: 40px;
  padding: 20px;
  padding-right: 25px;
  border: white;
  border: 5px;
  text-align: center;
}
.item-3 a {
  color: white;
  font-weight: bold;
}
/* ============================================================================== */
/* ================================================================ MAIN ======== */
/* ============================================================================== */
.main-main {
  display: flex;

  justify-content: space-between;

  background-color: #e4dfda;
}
.main-conteudo {
  background-color: none;
}
.m-cont1 {
  flex-grow: 1;
  text-align: right;
  align-self: center;
  font-size: 1.9rem;
  margin: 10%;
  margin-right: 0;
  color: #c1666b;
  line-height: 40px;
}
.m-cont2 {
  flex-grow: 2;
}
.m-cont2 img {
  align-self: flex-end;
  width: 600px;
}
/* =============================================  waves  ======================== */

.main-svg {
  position: absolute;
  right: 0;
  bottom: 0;
}
.main-svg2 {
  position: absolute;
  right: 0;
  bottom: 0;
  
}
/* ============================================================================== */
/* ============================================================= SECTION 1 ====== */
/* ============================================================================== */
.exames {
  
  
  height: 600px;
}
container-section1{
  background-color: #c1666b;
}
